<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Home</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">System Information</div>
                    <a class="nav-link" href="specs.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-info-circle"></i></div>
                        Specifications
                    </a>
                    <a class="nav-link" href="network.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-wifi"></i></div>
                        Network
                    </a>
                    <div class="sb-sidenav-menu-heading">System Monitor</div>
                    <a class="nav-link" href="performance.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Performance
                    </a>
                    <a class="nav-link" href="logs.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Log Records
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>
