<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Charts - SB Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="js/loader.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <!-- Navbar -->
    <div id="navbarPlaceholder"></div>
    <div id="layoutSidenav">
        <!-- SideBar -->
        <div id="sidebarPlaceholder"></div>
        <!-- Content -->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <!-- Content Header -->
                    <h1 class="mt-4">Performance</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Performance</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            In this page an overal view of system performance is provided including Memory, Disk and CPU
                            current Status.
                        </div>
                    </div>
                    <!-- <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Area Chart Example
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
                        <div class="card-footer small text-muted"></div>
                    </div> -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-microchip me-1"></i>
                            CPU Usage
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="50"></canvas></div>
                        <div class="card-footer small text-muted" id="cpuFooter"></div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar me-1"></i>
                                    Bar Chart Example
                                </div>
                                <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </div> -->
                        <!-- Swap Mermory Pie Chart -->
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-pie me-1"></i>
                                    Swap Mermory
                                </div>
                                <div class="card-body"><canvas id="swapChart" width="100%" height="50"></canvas></div>
                                <div class="card-footer small text-muted" id="swapFooter"></div>
                            </div>
                        </div>
                        <!-- Mermory Pie Chart -->
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-pie me-1"></i>
                                    System Mermory
                                </div>
                                <div class="card-body"><canvas id="memoryChart" width="100%" height="50"></canvas></div>
                                <div class="card-footer small text-muted" id="memoryFooter"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Footer -->
            <div id="footerPlaceholder"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="js/contentLoader/functions.js"></script>
    <script src="js/contentLoader/memoryChart.js"></script>
    <script src="js/contentLoader/swapChart.js"></script>
</body>

</html>